<footer class="mt-16 mb-10 max-w-md mx-auto text-center">
    <div class="prose prose-sm mb-2">
        <p class="italic prose prose-sm">Elfin built by <a href="https://www.alwaysblank.org">alwayblank</a></p>
    </div>
    <p class="text-xl"><a href="https://www.youtube.com/watch?v=uE-1RPDqJAY">🧝</a></p>
</footer>

{% include "partials/nomodule-polyfill.njk" %}
<script nomodule src="/legacy.js"></script>
<script type="module" src="/main.js"></script>

<script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>
