{% macro list_item(entry, current_url, class="mr-2") %}
  {% if entry.level == 0 %}
    {% set class = 'text-xl ' + class %}
  {% elseif entry.level == 1 %}
    {% set class = 'text-lg ' + class %}
  {% endif %}
  <li class="{% if entry.parent or entry.current %} font-bold {% endif %} {{ class }}">
    <a class="underline" href="{{ entry.url | url }}">{{ entry.name }}</a>
  </li>
{% endmacro %}

{% macro child_list(children) %}
    {% if children.length > 0 %}
    <hr class="md:hidden my-3">
    <ul class="flex flex-col md:flex-row">
        {% for entry in children %}
        {{ list_item(entry, page.url) }}
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}

<nav>
{% set fullNav = collections.all | eleventyNavigation | nav_builder(page.url) %}
{% for level in fullNav %}
    {{ child_list(level) }}
{% endfor %}
</nav>
