---
layout: app.njk
imageArguments: 
   path: 'elf.jpg' 
   css: 'max-w-full rounded-lg mt-12' 
   size: 768
   srcset: [640, 768, 1024, 1200]
   sizes: '(max-width: 768px) 100vw, 768px'
   alt: "Legolas and Gimli from Lord of the Rings share a tender, memeable moment before battle"
---
<div class="max-w-3xl mx-auto">
    <h1 class="text-6xl mb-4">Elfin</h1>
    <div class="text-4xl italic">A starter pack for <a class="underline" href="https://11ty.dev">11ty</a></div>
    <div class="prose mt-10">{{ content | safe }}</div>

    {% cl_img imageArguments %}
</div>